body {
  margin-top: 20px;
}

.navbar {
  opacity: 0.9;
  background: #fff;
  border-bottom: 3px solid #4b9aa3;
}

.nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

.fa-utensils {
  color: #4b9aa3;
}
